{% extends "templates/web.html" %}
Mst
{% block page_content %}
<style>
body{
  font-family:Arial, Helvetica, sans-serif;
  background:#f2f2f2;
}
img{
  width:70% !important;
  margin-bottom: -200px !important;
}
</style>
<div class="py-20 row">

    <div class="col-sm-2">

        <img alt="{{ title }}" src="{{ image }}">

    </div>

    <div class="col">

        <h1>{{ title }}</h1>

        <p class="lead">By {{ author }}</p>

        <div>

            {%- if status == 'Available' -%}

            <span class="badge badge-success">Available</span>
            {%- elif status == 'Borrowed' -%}

            <span class="badge badge-primary">Borrowed</span>

            {%- endif -%}

        </div>

        <div class="mt-4">

            <div>Publisher: <strong>{{ publisher }}</strong></div>

            <div>ISBN: <strong>{{ isbn }}</strong></div>

        </div>

        <p>{{ description }}</p>

    </div>

</div>

{% endblock %}

<!-- this is a sample default web page template -->
